{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">


<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            <h1>Login</h1>
        </div>

    </div>
    <div class="card-content">
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Login</button>
            </div>

            
            
        </form>
    </div>
    <br>
    <div class="card-footer">
        <div class="card-footer-item">
            <small>Need an account <a href="{%url 'register' %}">Signup</a>  </small>
        </div>
    </div>
</div>
</div>
{% endblock content%}